nav.k-top-nav{
    height: 90px;
    padding: 0;
    position: fixed;
    z-index: 2;
    display: flex;
    top: 0;
    right: 0;
    margin: 0;
}
nav.k-side-nav{
    z-index: 2;
    height: 100vh;
    position: fixed;
    top: 0;
}
nav.k-side-nav div.logo{
    height: 90px;
    width: 100%;
    position: relative;
}
nav.k-side-nav div.logo h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav.k-side-nav div.logo h2 a{
    color: #000000;
}
nav.k-side-nav div.logo h2 a:hover{
    text-decoration: none;
}
div.k-nav-container{
    width: 100%;
    position: relative;
}
ul.k-nav{
    position: absolute;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
}
nav.k-side-nav ul li a{
    color: #000000;
}
nav.k-side-nav ul li a.active{
    background-color: rgb(0, 0, 0, 0.1);
}
nav.k-side-nav ul li a i{
    padding: 7px;
}
nav.k-side-nav ul li a:hover{
    background-color: rgb(0, 0, 0, 0.1);
}

nav.k-side-nav-r{
    z-index: 1;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 90px;
}

main{
    margin-top: 90px;
}